.panel {
  margin: 2px;
}

.sidebar h1 {
  font-size: 100%;
}

.middle {
  height: 566px;
}

.sidebar ul{
  list-style: none;
}

.col-md-7 {
  padding: 1px;
}

.col-md-5 {
  padding: 1px;
}

.welcome {
  background-color: lightgrey;
}

.sidebar img {
  width: 169px;
}

hr {
  width: 80%;
}

body {
  background-image: linear-gradient(white, lightgrey)
}

.nav-tabs {
  background-image: linear-gradient(white, lightblue)
}

.article {
  background-color: white;
}